
.full-height {
    position: relative;
    height: 100vh !important;
}

.full-width {
    position: relative;
    width: 100%;
}

#login-wallpaper {
    height: 100vh;
    background-image: url(../img/sunset-wallpaper.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-attachment: fixed;
    background-size: cover;

}

.mt-6 {

    margin-top:4rem ;
}

#table td,th {

    vertical-align: middle !important;
    text-align: center !important;

}

#table i {

    color: black;
}
#table a {

    margin-right: 10px;
}

.icon-md {
    font-size: 50px;
    color: rgba(0, 0, 0, .2);
    
}

table input[type=image] {
    height: 20px;
}